*{
box-sizing: border-box;
}
html{
    background-color: rgba(163, 159, 159, 0.5);
    /* height: 826px; */
    overflow: auto;
    scroll-behavior: smooth;

}


* {
    margin: 0;
    padding: 0;
    }
    /* .box {
    width: 100%;
    /* height: 100vh; */
    /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1)  
    }*/
    header{
        display: flex;
        justify-content: space-between;
    }
    body{
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    
h1{
   overflow: hidden;
    word-spacing: 5px;
    border-right: .15em solid rgb(253, 250, 250);
    white-space: nowrap;
    font-family: 'Roboto Condensed';
    padding-top: 230px;
    margin: 0 auto;
    /* letter-spacing: .09em; */
    /* padding: 8px; */
    word-spacing: 5px;
    font-size: 40px;
  animation: h1 3.5s steps(30, end), 
  blink-caret .5s step-end infinite;
    /* color: rgb(151, 5, 5); */}
  
  /* The typing effect */
  @keyframes h1 {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
  }


.text{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(90deg, rgba(163, 159, 159, 0.5) rgb(95, 1, 1, 0.35));
    position: relative;
    color: #fff; 
    line-height: 1.5;
    /* min-width: 100vh; */
    width: 100%;
    /* text-align: center; */
    /* top: 0; */
    
}

   video{
       position: absolute;
       z-index: -1;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       /* right: 0; */
       min-width: 100%;
       min-height: 100%;
       overflow: hidden;
       /* min-height: 100vh; */

   }
/* .overlay{ */
    /* z-index: -1; */
    /* position: absolute;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: 0 auto;
    background-image: linear-gradient(90deg, rgba(151,5,5,0.5), rgb(108, 108, 119,0.35));
    opacity: 0.7;
} */

span{
    color: rgb(151, 5, 5);
}
@media screen and (max-width: 500px){
    h1 {color: rgb(252, 248, 248);
    }
  span{
        color: darkred;
    }

html{
    scroll-behavior: smooth;
}}
.logo{
    margin: 0 5px;
    width: 254px;
    display: flex;
    justify-content: left;
}
head{
  margin: 10px;

}
header{
  margin: 0 12px;
  padding: 2px;

}
ol{
    text-align: center;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    list-style: none;
}
a{
    text-decoration: none;
    font-family: "Roboto Condensed"; 
    font-size: 20px;
    color: rgb(151, 5, 5);
    animation: a 7s;
}
li{
    padding-left: 26px;
    padding-right: 26px;
    margin: 5px;
}
button{
    /* border-top: rgb(151, 5, 5); */
    width: 250px;
    padding: 8px;
    margin: 17px;
    /* font-size: 30px; */
    background-color: rgb(196, 196, 196);
    border: none;
    /* color: rgb(151, 5, 5); */
    border-radius: 10px;
    animation: butt 4s;
   text-decoration: none;
}
.nav{
    height: 0;
    width: 100%;
    /* z-index: 1; */
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(151, 5, 5);
    background-color: rgb(151, 5, 5, 0.9);
    overflow-y: hidden;
    transition: 1s;
}
.content{
    position: relative;
    top: 45%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.open{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    color: rgb(151, 5, 5);
}

.nav .pg{
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(151, 5, 5);
    display: block;
    transition: 0.3s;
    top:35%;
    text-align: center;
}
.nav .closebtn {
    margin-right: 10px;
    display: flex;
    justify-content: end;
    font-size: 40px;
    color: rgb(196, 196, 196);
}
